<h1>Score Shared!!</h1>
<% @user = User.find_by(:id => params[:user_id]) %>

<% @client.update("I am a #{@user[:result]} tweeter according to Marco's app! Check what kind of tweeter you are! @lostaunaum @makersquare") %>