<% @user = User.find_by(:id => params[:user_id]) %>

<% @client.update("I am a #{@user[:result]} tweeter according to the iTweet-Sense app!! What about you? @lostaunaum https://itweetsense.herokuapp.com") %>

<div class="shareScorePage">
	<div class="shareScoreHeader">
		<span class="shareScoreTitle">Score Shared!!</span></br>
		<span class="shareScoreSignature">Thank you for your time! </span>
	</div>
	<div class="AlchemyLogo">
		<span class="tweetBlockSharescore"><blockquote class="twitter-tweet"><p>I am a <%= @user[:result] %> tweeter according to the iTweet-Sense app!! What about you? @lostaunaum http://radiant-river-9795.herokuapp.com</p><%= @user.name %> <a href="https://twitter.com/<%= @user.nickname %>">(@<%= @user.nickname %>)</a></blockquote></span>
	</div>
</div>