<h1>How Positive of a Tweeter are you?</h1>
<h3>Developed By Marco A. Lostaunau </h3>
<br>
<h4>Special thanks to:</h4>
<a href="http://www.makersquare.com/"><img class="logos1" src='https://m1.behance.net/rendition/modules/124031971/disp/fa0c76d4bd39b9bc82c8cf32b90cd846.png'/></a>
<br>
<h4>And to:</h4>
<a href="http://www.alchemyapi.com/"><img class="logos" src='http://www.alchemyapi.com/sites/default/files/AlchemyAPI_Logo_Press.png'/></a>	

