<div class="loginPage">
	<div class="loginHeader">
		<span class="loginTitle">What kind of a Tweeter are you?</span></br>
		<span class="loginSignature">Developed By Marco A. Lostaunau </span>
	</div>
	<div class="signInButton">
		<button class="signIn">Sign in!</button>
	</div>
</div>

<script type="text/javascript">
	$('.signIn').on('click', function() {
		location.replace("/auth/twitter");
  	});
</script>