<div class="loginPage">
	<div class="loginHeader">
		<span class="loginTitle">What kind of a Tweeter are you?</span></br>
		<span class="loginSignature">Developed By Marco A. Lostaunau </span>
	</div>
	<div class="AlchemyLogo">
		<span class="loginSignature2">With the help of...</span> 
		</br>
		<a class="logos" href="http://www.alchemyapi.com/">Alchemy API</a>	
	</div>
</div>

