<div class="loginPage">
	<div class="loginHeader">
		<span class="loginTitle">What kind of a Tweeter are you?</span></br>
		<span class="loginSignature">Developed By Marco A. Lostaunau </span>
	</div>
	<div class="AlchemyLogo">
		<button class="signIn">Sign in!</button>
	</div>
</div>

